.container{
    height: 250px;
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    padding: 50px;

}

.title{
    font-weight: 400;
    color: white;
    background-color: green;
    padding: 5px;
    width: max-content;
}

.title:hover {
    background-color: white;
    color: rgba(0, 128, 0, 0.774);
  }

.linkTitle{
    text-decoration: underline;
}

.linkTitle:hover {
    transform: scale(1.1);
  }

.link{
    display: flex;
    align-items: center;
}

.cardItem{
    margin-bottom: 20px;
}

.linkText{
    margin-right: 20px;
}

.cardL{
    flex: 2;
}

.cardS{
    flex: 1;
}

@media screen and (max-width: 480px){
    .container{
        height: auto;
        flex-direction: column;
    }

    .title{
        font-size: 28px;
    }
   
   .linkText{
    font-size: 28px;
    margin-left: 25px;
   }
    .cardItem{
        text-align: center;
        font-size: 15px;
    }
}